/* global defaults */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

/* Default text size for body text/links */
p, a {
    font-size: 12px;
}

/* Component-specific rules */

.header, .intro-box {
    color: white;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}   

.header a {
    text-decoration: none;
    color: whitesmoke; /* wrong colour */
}

.header-left {
    flex: 0 0 auto;

    padding-left: 7rem;
}

.header-right {
    flex: 0 0 auto;

    display: flex;
    justify-content: center;
    gap: 10px;

    padding-right: 7rem;
}

/* --- */

.main {
    display: flex;
    flex-direction: column;
}

.intro-box {
    flex: 1;

    padding: 5rem 10rem;

    display: flex;
    justify-content: space-around;
}

.intro-box h1, p, button {
    margin: 5px;
}

#intro-left {
    flex: 1;
}

#intro-right {
    flex: 1;

    background-color: grey;

    align-content: center;
}

#intro-button {

}

/* --- */

.image-box {
    padding: 100px 30px 150px 30px;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: center;
}

.card-stack {

    display: flex;
    gap: 20px;

}

.card {
    flex: 1;
    width: 125px;

    padding: 10px;
    text-align: center;

}

.card-img {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* --- */

.quote-box {
    flex: 1;
    padding: 70px 200px 70px 200px;
    background-color: #E5E7EB;

}

#quote-para {
    font-size: 30px;
    font-weight: 200;
    color: #1F2937;
}

#quote-author {
    padding: 20px;
    font-size: 20px;
    text-align: right;
    margin-right: 125px;
}

/* --- */

.cta-box {
    flex: 1;

    display: flex;

    margin: 100px 200px;
    padding: 50px 70px;
    background-color: #3882F6;
    border-radius: 10px;

    color: white;
}

#cta-button {
    border: 2px solid white;
    padding: 5px 20px;
}

#cta-left {
    flex: 3;
    margin-left: 30px;
}

#cta-right {
    flex: 1;
}

/* --- */

.footer {
     background-color: #1F2937;
     padding: 25px 50px;
     color: white;
     text-align: center;
}